{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true,
      "decorators": true
    },
    "target": "es2022",
    "loose": false,
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true,
      "react": {
        "runtime": "automatic",
        "importSource": "react"
      }
    },
    "keepClassNames": true
  },
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false,
    "resolveExtensions": [".ts", ".tsx", ".js", ".jsx"]
  },
  "sourceMaps": true,
  "inlineSourcesContent": true,
  "minify": false
}